<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie naczepy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-order-style.css}"/>

</head>
<body>
<div id="add-vehicle-container">
    <a th:href="@{/vehicles}"><input type="button" id="back-button" class="btn btn-primary" value="Powrót"></a>

    <div class="card" style="max-width: 20%; margin-left: 40%;">
        <div class="card-body">
            <h4>Dodawanie naczepy</h4> <br/>
            <form th:action="@{/save-trailer}" th:object="${trailer}" method="post" onsubmit="return dataValidation()">
                <div class="form-group">
                    <label class="label">Numer naczepy*:</label>
                    <input type="text" class="form-control" id="number" name="number"
                           th:field="*{number}"/>
                </div>

                <input class="btn btn-primary" type="submit" value="Dodaj naczepę" id="add-button"/>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    function dataValidation() {
        var number = document.getElementById("number").value;

        if (number !== "") {
            return true;
        }
        alert("Uzupełnij numer naczepy!")
        return false;
    }

</script>
</html>