<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja zlecenia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-order-style.css}"/>

</head>
<body>
<div id="orders-container">
    <a th:href="@{/orders}"><input type="button" id="back-button" class="btn btn-primary" value="Powrót"></a>

    <div class="card" style="max-width: 20%; margin-left: 40%;">
        <div class="card-body">
            <h4>Edycja zlecenia</h4> <br/>
            <form th:action="@{/orders/edit/{id}(id=${order.id})}" th:object="${order}" method="post"
                  onsubmit="return dataValidation()">
                <div class="form-group">

                    <label class="label">Numer zlecenia:</label>
                    <input class="form-control" type="text" id="orderNumber" name="orderNumber"
                           th:field="*{orderNumber}"/>

                    <div class="form-group">
                        <label>Numer samochodu:</label>
                        <select id="truckNumber" class="form-control" th:field="*{vehicle.id}">
                            <option th:each="vehicle : ${vehicleList}" th:value="${vehicle.id}"
                                    th:text="${vehicle.number}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Numer naczepy:</label>

                        <select id="trailerNumber" class="form-control"
                                th:field="*{trailer.id}">
                            <option th:each="trailer : ${trailerList}" th:value="${trailer.id}" th:text="${trailer.number}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Kierowca:</label>

                        <select id="driver" class="form-control" th:field="*{driver.id}">
                            <option th:each="driver : ${driverList}" th:value="${driver.id}"
                                    th:text="${driver.firstName} + ' ' + ${driver.lastName}">
                            </option>
                        </select>
                    </div>
                    <label class="label"> Data załadunku:</label>
                    <input class="form-control" type="date" id="loadingDate" name="loadingDate"
                           th:field="*{loadingDate}"/>
                    <div class="form-group">

                        <label class="label"> Data rozładunku:</label>
                        <input class="form-control" type="date" id="unloadingDate" name="unloadingDate"
                               th:field="*{unloadingDate}"/>
                    </div>
                    <div class="form-group">

                        <label class="label"> Ilość kilometrów:</label>
                        <input class="form-control" type="text" id="kilometres" name="kilometres"
                               th:field="*{kilometres}"/>
                    </div>
                    <div class="form-group">

                        <label class="label"> Maut:</label>
                        <input class="form-control" type="text" id="maut" name="maut" th:field="*{maut}"/>
                    </div>
                    <div class="form-group">

                        <label class="label"> Bonus:</label>
                        <input class="form-control" type="text" id="bonus" name="bonus" th:field="*{bonus}"/>
                    </div>

                    <div class="form-group">
                        <label class="label">Stawka:</label>
                        <input class="form-control" type="number" step=".01" id="rate" name="rate" th:field="*{rate}"/>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Zapisz" id="add-button"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>
    function dataValidation() {
        let loadingDate = new Date(document.getElementById("loadingDate").value);
        let unloadingDate = new Date(document.getElementById("unloadingDate").value);
        var orderNumber = document.getElementById("orderNumber").value;
        var truckNumber = document.getElementById("truckNumber").value;
        var trailerNumber = document.getElementById("trailerNumber").value;
        var driverLastName = document.getElementById("driverLastName").value;
        var kilometres = document.getElementById("kilometres").value;
        var maut = document.getElementById("maut").value;
        var bonus = document.getElementById("bonus").value;


        if ((orderNumber !== "" && truckNumber !== "" && trailerNumber !== ""
            && driverLastName !== "" && kilometres !== "" && kilometres !== "0"
            && maut !== "" && bonus !== "") && loadingDate < unloadingDate) {
            return true;
        }
        alert("Coś nie tak! Sprawdź czy uzupełniłeś wszystkie pola, daty i czy kilometry nie są 0.")
        return false;
    }

</script>
</html>